.hospitalimg {
	width: 310px;
	height: 270px;
	margin: 2% auto;
	border-radius: 15px;
}

.appointment-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.appointment-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 2rem;

}

.progress-bar-two {
	margin: 2% auto;
	width: 400px;
	height: 40px;
}

.btn-container {
	display: flex;
	justify-content: center;
	text-align: center;
}
.calendar-widget {
	text-align: center;
}

.time-field {
	padding: 5px;
	border-radius: 15px;
}
.hospital-field {
  width: 300px;
  height: 40px;
  border-radius: 10px;
	border: 2px solid #767779; 
}

.time-container {
	padding: 15px;
}
.hospital-container {
	padding-bottom: 15px;
}

.previousbtn {
	margin-right: 25px;
	font-size: 15px;
	font-weight: bold;
}

.nextbtn {
	font-size: 15px;
	font-weight: bold;
}

.space{
	margin-bottom: 11rem;
}
