h1 {
	font-size: 24px;
    line-height: 26.4px;
    padding-bottom: 20px;
}

img {
    height: 90px;
    padding: 0px 0;
}

.confirmation-wrapper {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

/* h4 {
	font-size: 14px;
    line-height: 21px;
    padding-top: 10px;
} */
.vaxineimg {
    width: 15rem;
    height: 15rem;
}
.content {
    padding: 20px;
}

span {
    font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.confirmation-updates-wrapper {
padding-left: 100px;
padding-right: 100px;
}

.confirmation-updates {
    padding: 20px;
    border: 1px solid #6280EB;
    border-radius: 15px;
}

.button-wrapper {
    position: absolute;
    right: 38%;
}

.back-home-button {
    position: relative;
    color: white;
    background: #6280eb;
    padding: 20px 50px;
    border-radius: 30px;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.space{
	margin-bottom: 11rem;
}

.homebtn{
	margin: 20px;
}