.review-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.hospitalimg {
	width: 310px;
	height: 270px;
	margin: 2% auto;
	border-radius: 15px;
}

.review-content {
	justify-content: center;
	padding: 10px;
}

#previousbtn{
	margin: 20px;
}

h3{
	font-size: 24px;
}
