.review-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 100px;


  /* padding: 10px; */
}

.hospitalimg{
  width: 310px;
height: 270px;
border: 10px solid green;
}

.review-content {
  /* position: relative; */
  /* display: flex; */
  justify-content: center;
  padding: 10px;
  /* flex-direction: column; */
  /* text-align: center; */
}


.submit-wrapper{
  padding: 20px;
}