h1 {
	font-size: 24px;
    line-height: 26.4px;
    padding-bottom: 20px;
}

img {
    height: 90px;
    padding: 0px 0;
}

.confirmation-wrapper {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

h4 {
	font-size: 14px;
    line-height: 21px;
    padding-top: 10px;
}

span {
    font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

p {
	color: black;
}

.button-wrapper {
    position: absolute;
    right: 38%;
}

.back-home-button {
    position: relative;
    color: white;
    background: #6280eb;
    padding: 20px 50px;
    border-radius: 30px;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
