*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0;
  background-color: #C2CEF8;
}

.nav-logo-wrapper {
  display: flex;
  justify-content: left;
  /* padding: 15px; */
}

.navbar-logo{
  width: 100px;
  height: 40px;
}

.mobile{
display: none;
position: absolute;
top: 0;
right: 0;
font-size: 38px;
padding: 20px 10px 0 0;
}

@media screen and (max-width: 900px) {
  .mobile {
    display: block;
  color: white;
  }
}