/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.footer-wrapper{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C2CEF8;
  color: white;
  text-align: center;
}


.vaccine-wrapper{
padding: 1rem;
}

.vaxine-logo {
width: 122px;
 height: 34px;
}

p{
  color: #6280EB;
}

.footer-list {
  font-size: 18px;
  color: #6280EB;
}

#footerTitle{
padding-top: 20px;
color: #767779;
font-weight: 400;
font-size: 15px;
line-height: 15px;
}

#copyright {
  padding-top: 1rem;
  font-size: 10px;
  color: #6280EB;
}